:host {
	position: fixed;
	inset: 0;
	background: var(--bg-primary);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	--bg-img: url("../../img/consoles-black.jpg");
	--bg-blendmode: multiply;

	@media (prefers-color-scheme: dark) {
        --bg-img: url("../../img/consoles-white.jpg");
        --bg-blendmode: screen;
	}
}

.drop-area {
    position: relative;
	height: clamp(340px, 80vw, 80vh);
	aspect-ratio: 1 / 1;
	border: 4px dashed var(--border-default);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: system-ui, sans-serif;
	cursor: pointer;
	transition:
		border-color var(--trans-md),
		background-color var(--trans-md);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
		background: var(--bg-img) center no-repeat;
		background-size: 115%;
        border-radius: 50%;
        mix-blend-mode: var(--bg-blendmode);
        transition: background-size var(--trans-md);
    }

	&:hover,
	&.dragover {
		border-color: var(--border-focus);
		background: color-mix(in srgb, var(--bg-tertiary), transparent 75%);

        &::before {
		    background-size: 150%;
        }
	}

	p {
		margin-block: 0.5rem;
		font-size: var(--fs-lg);
		font-weight: 500;
	}
}
