@import "component.css";

:host {
	display: flex;
	position: fixed;
	inset: 0;
	padding-inline: var(--m-sm);
	background: var(--bg-overlay);
	z-index: 2000;
	align-items: center;
	justify-content: center;
	transition: display var(--trans-fast) allow-discrete;
	animation: open var(--trans-fast) forwards;

    @media (min-width: 480px) {
	    padding-inline: var(--m-md);
    }
}

:host(.hidden) {
	animation: close var(--trans-fast) forwards;
}

.modal {
	background: var(--bg-secondary);
	padding: 30px var(--m-md);
	border-radius: 12px;
	width: clamp(200px, 100vw, 500px);
	text-align: center;
	border: 2px solid var(--border-default);

	&.warning {
		background: var(--bg-warning);
		border-color: var(--border-warning);

		h2 {
			color: var(--text-warning);
		}

		.button {
			background: var(--btn-secondary);

			&:hover {
				background: var(--btn-secondary-hover);
			}
		}
	}
}

/* biome-ignore lint: lint/style/noDescendingSpecificity */
h2 {
	color: var(--text-info);
	margin: 0 0 15px;
	font-family: system-ui, sans-serif;
}

p {
	margin-block: 0 var(--m-md);
	font-family: system-ui, sans-serif;
}

/* biome-ignore lint: lint/style/noDescendingSpecificity */
.button {
	padding-inline: 30px;
}

code {
	font-size: var(--fs-sm);
	border-radius: var(--bd-radius);
	background: color-mix(in srgb, var(--color-light), transparent 35%);
	display: inline-block;
	padding: 0 2px;
}

pre {
	margin-top: 5px;
	font-size: var(--fs-sm);
    white-space: normal;
	border-radius: var(--bd-radius);
	padding: 4px;
	background: color-mix(in srgb, var(--color-light), transparent 35%);
}
